@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Albert Sans", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  background: var(--BG-1, #fafafa);
}

.dark-icon {
  color: #000000 !important;
}

.default-btn {
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--Active, #172a38) !important;
  color: var(--Text-2, #f6f6f6);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */
}

.default-btn-outlined {
  background: transparent !important;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px !important;
  background: var(--BG-1, #fafafa) !important;
  color: var(--Text-3, #192e3d);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */
  border: 1px solid var(--Active, #172a38) !important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.slick-track {
  background: transparent;
}
.slick-track .slick-slide {
  margin-right: 24px;
  background: transparent;
}

.blogs nav .pagination a:hover {
  text-decoration: underline;
  font-size: 25px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: -moz-max-content;
  height: max-content;
  transition: all 0.5s;
  position: sticky;
  top: 0;
  z-index: 9;
  background: var(--BG-2, #e8eaec);
}

#header .logo {
  margin: 0;
  padding: 20px 0;
}
#header .logo img {
  height: 53px;
  width: 120px;
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/**
  * Desktop Navigation 
  */
.navbar {
  padding: 0;
}
.navbar .login-button {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--Active, #172a38);
  color: var(--Text-2, #f6f6f6);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 991px) {
  .navbar .login-button {
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 24px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */
}

.navbar a i,
.navbar a:focus i {
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  background: #31a9e1;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: var(--Text-3, #192e3d);
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: var(--Text-3, #192e3d);
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}
/**
  * Mobile Navigation 
  */
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(40, 58, 90, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: var(--Text-3, #192e3d);
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: var(--Text-3, #192e3d);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
  color: var(--Text-3, #192e3d);
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: var(--Text-3, #192e3d);
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
  visibility: visible !important;
}

/*----navbar end----*/
.footer {
  padding: 80px 0;
  background: var(--BG-2, #e8eaec);
}
.footer .footer-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.footer .footer-head .footer-logo {
  display: block;
  height: 135px;
  width: 306px;
}
.footer .footer-head .footer-media-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer .footer-head .footer-media-icons a {
  background: var(--Active, #172a38);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  padding: 10px;
}
.footer .footer-body .title {
  color: var(--Text-1, #4e4e4e);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 25px */
}
.footer .footer-body ul li a {
  color: var(--Text-1, #4e4e4e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
}
.footer .footer-body .recently-viewed-product-card {
  display: flex;
  gap: 24px;
}
.footer .footer-body .recently-viewed-product-card .product-img {
  height: 95px;
  width: 105px;
}
.footer .footer-body .recently-viewed-product-card .product-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .footer-body .recently-viewed-product-card .product-details {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 200px;
}
.footer .footer-body .recently-viewed-product-card .product-details .product-name {
  margin: 0;
  color: var(--Text-1, #4e4e4e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
  display: -webkit-box; /* Necessary for line clamping */
  -webkit-line-clamp: 2; /* Number of lines to display before truncating */
  -webkit-box-orient: vertical; /* Necessary for line clamping */
  overflow: hidden; /* Hide the rest of the text */
}
.footer .footer-body .recently-viewed-product-card .product-details .product-price {
  margin: 0;
  color: var(--Text-3, #192e3d);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 25px */
}
.footer .footer-body .recently-viewed-product-card .product-details .product-location {
  margin: 0;
  color: var(--Text-1, #4e4e4e);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 16.25px */
  display: -webkit-box; /* Necessary for line clamping */
  -webkit-line-clamp: 2; /* Number of lines to display before truncating */
  -webkit-box-orient: vertical; /* Necessary for line clamping */
  overflow: hidden; /* Hide the rest of the text */
}
.footer .footer-body .icon-box {
  height: 18px;
  min-width: 18px;
  margin-left: 12px;
}

.property-card {
  padding: 0px;
  border: none;
  border-radius: 10px;
  background: var(--BG-1, #fff);
  overflow: hidden;
}
.property-card .card-img-top {
  height: 260px;
  width: 100%;
}
.property-card .card-img-top img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.property-card .card-img-top .property-type {
  position: absolute;
  top: 10px;
  left: 10px;
  background: var(--Active, #172a38);
  padding: 6px 24px;
  border-radius: 4px;
  color: var(--Text-2, #f6f6f6);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */
}
.property-card .card-img-top .property-category {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 2.5px;
  background: #d0e0ec;
  padding: 2px 6px;
  border-radius: 4px;
  color: #192e3d;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
}
.property-card .property-id {
  color: var(--Text-1, #4e4e4e);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 12.5px */
}
.property-card .location {
  margin-bottom: 8px;
}
.property-card .location .icon-box {
  height: 18px;
  width: 18px;
  padding: 0px;
  margin-right: 5px;
}
.property-card .location .icon-box img {
  vertical-align: top;
}
.property-card .location a {
  margin: 0;
  color: var(--Text-1, #4e4e4e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
  display: -webkit-box; /* Necessary for line clamping */
  -webkit-line-clamp: 2; /* Number of lines to display before truncating */
  -webkit-box-orient: vertical; /* Necessary for line clamping */
  overflow: hidden; /* Hide the rest of the text */
}
.property-card .card-body {
  background: var(--BG-1, #fff);
}
.property-card .card-body .card-title {
  padding-top: 6px;
  color: var(--Text-3, #192e3d);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 25px */
  display: -webkit-box; /* Necessary for line clamping */
  -webkit-line-clamp: 2; /* Number of lines to display before truncating */
  -webkit-box-orient: vertical; /* Necessary for line clamping */
  overflow: hidden; /* Hide the rest of the text */
}
.property-card .card-body .card-text {
  color: var(--Text-3, #192e3d);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 25px */
  padding-bottom: 20px;
}
.property-card .view-details-btn {
  border-radius: 4px;
  border: 1px solid var(--Active, #172a38);
  padding: 10px 24px;
  color: var(--Text-3, #192e3d);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */
  margin-top: 20px;
}

.move-left {
  animation: moveLeft 2s infinite;
}

.move-right {
  animation: moveRight 2s infinite;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
.cursor {
  animation: blink 1.2s infinite !important;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.home-hero {
  background: url("images/hero-bg.png") no-repeat center center/cover;
  text-align: center;
  padding: 220px 0px;
}
.home-hero .animated-text {
  color: var(--Text-3, #192e3d);
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 76.25px */
}
.home-hero .animated-text #animated-word,
.home-hero .animated-text .cursor {
  color: var(--Text-2, #f6f6f6);
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 76.25px */
}
.home-hero .animated-text .cursor {
  font-weight: 100;
}
.home-hero .search-form .search-inputs input,
.home-hero .search-form .search-inputs select {
  width: 218.8px;
  height: 44px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background: var(--BG-1, #fafafa);
  margin-right: 10px;
}
.home-hero .search-form .search-inputs .location-icon {
  position: absolute;
  top: 7.5px;
  left: 8px;
  opacity: 0.88;
  z-index: 1;
}
.home-hero .search-form .search-inputs .location-input {
  text-indent: 20px;
}
.home-hero .search-form .search-btn {
  border: none;
  background: var(--Active, #172a38);
  color: var(--Text-2, #f6f6f6);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */
  padding: 6px 24px 6px 22px;
  border-radius: 4px;
}

.home-about {
  padding: 80px 0px;
  background: url("images/home-about-bg.svg") no-repeat center center/cover;
  text-align: center;
}
.home-about .home-about-text .see-more-btn {
  color: var(--Text-1, #4e4e4e);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */
}
.home-about .home-about-text .title {
  color: var(--Text-3, #192e3d);
  font-size: 31px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 38.75px */
}
.home-about .home-about-text .text {
  color: var(--Text-1, #4e4e4e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
  padding: 0px 15%;
  display: -webkit-box; /* Necessary for line clamping */
  -webkit-line-clamp: 5; /* Number of lines to display before truncating */
  -webkit-box-orient: vertical; /* Necessary for line clamping */
  overflow: hidden; /* Hide the rest of the text */
}

.featured-properties {
  padding: 80px 0px;
}
.featured-properties .title {
  color: var(--Text-3, #192e3d);
  font-size: 31px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 38.75px */
  margin-bottom: 40px;
}
.featured-properties .see-more-btn {
  border: none;
  background: var(--Active, #172a38);
  padding: 10px 24px;
  border-radius: 4px;
  color: var(--Text-2, #f6f6f6);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */
}

input[type=radio] {
  display: none;
}

.btn-group .btn {
  transition: background-color 0.3s ease;
}

input[type=radio]:checked + label {
  background-color: #ff0000;
  color: white;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.new-listed-properties {
  padding: 80px 0px;
  background: var(--BG-2, #e8eaec);
}
.new-listed-properties .title {
  color: var(--Text-3, #192e3d);
  font-size: 31px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 38.75px */
}
.new-listed-properties .new-listed-card {
  margin-top: 40px;
  height: 350px;
  border: none;
  background: var(--BG-1, #fafafa);
  border-radius: 4px;
  overflow: hidden;
}
.new-listed-properties .new-listed-card .property-img {
  width: 280px;
  height: 100%;
}
.new-listed-properties .new-listed-card .property-category {
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-radius: 2.5px;
  background: #d0e0ec;
  padding: 2px 6px;
  border-radius: 4px;
  color: #192e3d;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
}
.new-listed-properties .new-listed-card .property-id {
  padding: 5px 10px;
  color: var(--Text-1, #4e4e4e);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 12.5px */
}
.new-listed-properties .new-listed-card .new-listed-card-body {
  max-width: 300px;
  padding: 12px;
}
.new-listed-properties .new-listed-card .new-listed-card-body .new-listed-card-title {
  color: var(--Text-3, #192e3d);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  display: -webkit-box; /* Necessary for line clamping */
  -webkit-line-clamp: 2; /* Number of lines to display before truncating */
  -webkit-box-orient: vertical; /* Necessary for line clamping */
  overflow: hidden; /* Hide the rest of the text */
}
.new-listed-properties .new-listed-card .new-listed-card-body .location {
  height: 20px;
  overflow: hidden;
  margin-top: 6px;
}
.new-listed-properties .new-listed-card .new-listed-card-body .location .new-listed-card-text {
  max-width: 300px;
  color: var(--Text-1, #4e4e4e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
  display: -webkit-box; /* Necessary for line clamping */
  -webkit-line-clamp: 2; /* Number of lines to display before truncating */
  -webkit-box-orient: vertical; /* Necessary for line clamping */
  overflow: hidden; /* Hide the rest of the text */
}
.new-listed-properties .new-listed-card .new-listed-card-body .price {
  margin-top: 6px;
  color: var(--Text-3, #192e3d);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 25px */
  margin-bottom: 0px;
}
.new-listed-properties .new-listed-card .new-listed-card-body .size {
  margin-top: 6px;
  color: var(--Text-1, #4e4e4e);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 16.25px */
  margin-bottom: 11.5rem;
}

.home-services {
  background: url("images/home-services-bg.png") no-repeat center center/cover;
  padding: 80px 0px;
  text-align: center;
}
.home-services .title {
  color: var(--Text-3, #192e3d);
  font-size: 31px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}
.home-services .service-card {
  margin-top: 40px;
  display: block;
  border-radius: 4px;
  background: var(--BG-2, #e8eaec);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 370px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 12px;
  color: var(--Text-3, #192e3d);
  text-align: center;
  font-family: Albert Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 31.25px */
}
.home-services .see-more-btn {
  margin-top: 40px;
}

.hero-bg {
  padding: 80px 0px;
  background: url("images/all-hero-bg.png") no-repeat center center/cover;
}
.hero-bg .title h1 {
  color: var(--Text-3, #192e3d);
  font-size: 39px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 48.75px */
  padding: 0px;
  margin: 0px;
}

.about-text {
  padding: 80px 0px;
  background: var(--BG-2, #e8eaec);
}
.about-text .about-us-texts p {
  color: var(--Text-1, #4e4e4e);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
  padding: 0px 15%;
}

.services-text {
  padding: 80px 0px;
  background: var(--BG-2, #e8eaec);
}
.services-text .services-texts .nav.nav-pills {
  justify-content: center;
  gap: 20px;
}
.services-text .services-texts .nav.nav-pills .nav-item .nav-link {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--Active, #172a38);
  color: var(--Text-3, #192e3d);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 25px */
}
.services-text .services-texts .nav.nav-pills .nav-item .nav-link.active {
  color: var(--BG-1, #fafafa);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 25px */
  border-radius: 4px;
  background: var(--Active, #172a38);
  padding: 10px;
}
.services-text .services-texts .tab-content {
  margin-top: 40px;
}
.services-text .services-texts .tab-content ul li {
  color: var(--Text-1, #4e4e4e);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */
}
.services-text .services-texts .tab-content ul li p {
  margin-bottom: 5px;
}

.contact-us-page {
  padding: 80px 0px;
}
.contact-us-page .appointment-form label {
  color: var(--Text-1, #4e4e4e);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 25px */
}
.contact-us-page .appointment-form input,
.contact-us-page .appointment-form textarea {
  margin-top: 12px;
  width: 100%;
  height: 44px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background: var(--BG-2, #e8eaec);
}
.contact-us-page .appointment-form textarea {
  height: unset;
}
.contact-us-page .appointment-form .btn-send {
  border: none;
  background: var(--Active, #172a38);
  padding: 10px 24px;
  border-radius: 4px;
  color: var(--Text-2, #f6f6f6);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */
}
.contact-us-page .find-us-here {
  padding: 12px;
  border-radius: 4px;
  background: var(--BG-2, #e8eaec);
}
.contact-us-page .find-us-here .title {
  color: var(--Text-1, #4e4e4e);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 25px */
  margin-bottom: 10px;
}
.contact-us-page .find-us-here ul li {
  margin-top: 10px;
}
.contact-us-page .find-us-here ul li a {
  color: var(--Text-1, #4e4e4e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
}

.faqs-hero {
  padding: 80px 0px;
  background: var(--BG-2, #e8eaec);
}
.faqs-hero .accordion {
  border: 0.1px solid var(--Active, #9f9f9f);
  border-radius: 6px;
}
.faqs-hero .accordion .accordion-item {
  background: var(--BG-1, #fafafa);
}
.faqs-hero .accordion .accordion-item .accordion-header button {
  color: var(--Text-3, #192e3d);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 25px */
  background: transparent;
}
.faqs-hero .accordion .accordion-item .accordion-header button:focus {
  background: transparent;
  border: none;
  box-shadow: none;
}
.faqs-hero .accordion .accordion-item .accordion-body {
  color: var(--Text-1, #4e4e4e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
}
.faqs-hero .need-help {
  background: var(--BG-1, #fafafa);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 20px;
}
.faqs-hero .need-help .title {
  color: var(--Text-3, #192e3d);
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 31.25px */
}

.properties-hero-section {
  padding: 80px 0px;
}
.properties-hero-section .filters form {
  border-right: 1px solid var(--Text-3, #192e3d);
}
.properties-hero-section .filters input[type=checkbox] {
  display: none;
}
.properties-hero-section .filters .checkbox-btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 4px;
  border: 1px solid var(--Active, #172a38);
  color: var(--Text-3, #192e3d);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */
}
.properties-hero-section .filters input[type=checkbox]:checked + .checkbox-btn {
  padding: 10px 24px;
  border-radius: 4px;
  background: var(--Active, #172a38);
  color: var(--Text-2, #f6f6f6);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */
}
.properties-hero-section .filters .title {
  color: var(--Text-3, #192e3d);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 25px */
}
.properties-hero-section .filters .property-status {
  margin-top: 20px;
  color: var(--Text-3, #192e3d);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 25px */
}
.properties-hero-section .filters .property-category {
  color: var(--Text-3, #192e3d);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 25px */
  margin-top: 20px;
}
.properties-hero-section .filters .property-price-range {
  margin-top: 20px;
  color: var(--Text-3, #192e3d);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 25px */
}
.properties-hero-section .filters .property-price-range-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.properties-hero-section .filters .property-price-range-checkbox input[type=checkbox] {
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  position: relative;
  border: 1px solid #4e4e4e;
}
.properties-hero-section .filters .property-price-range-checkbox input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  left: 12px !important;
  top: 3px !important;
  width: 8px;
  height: 18px;
  border: solid #4e4e4e;
  border-width: 0 2px 2px 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.properties-hero-section .filters .property-price-range-checkbox label {
  color: var(--Text-1, #4e4e4e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
}
.properties-hero-section .properties .search-bar .search-icon {
  position: absolute;
  top: 12px;
  left: 12px;
  opacity: 0.88;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.properties-hero-section .properties .search-bar input {
  text-indent: 25px;
  padding: 10px;
  border: none;
  background: var(--BG-2, #e8eaec);
}
.properties-hero-section .properties .browse-properties {
  margin-top: 40px;
  margin-bottom: 40px;
}
.properties-hero-section .properties .browse-properties .title {
  color: var(--Text-3, #192e3d);
  font-size: 31px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 38.75px */
  padding: 0px;
  margin: 0px;
}
.properties-hero-section .properties .browse-properties .sort-by button {
  border: none;
  border-radius: 4px;
  background: var(--BG-2, #e8eaec);
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 16.25px */
}
.properties-hero-section .properties .browse-properties .sort-by .sort-by-text {
  color: var(--Text-1, #4e4e4e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
}
.properties-hero-section .properties .browse-properties .sort-by .sort-by-select {
  width: 200px;
  height: 44px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background: var(--BG-2, #e8eaec);
}
.properties-hero-section .properties .property-item {
  margin-bottom: 40px;
}
.properties-hero-section .properties .pagination-section .pagination {
  margin-bottom: 0px;
}
.properties-hero-section .properties .pagination-section .pagination li:first-child a {
  border-radius: 6px 0px 0px 6px;
  padding-left: 5px;
  padding-right: 5px;
}
.properties-hero-section .properties .pagination-section .pagination li:last-child a {
  border-radius: 0px 6px 6px 0px;
  padding-left: 5px;
  padding-right: 5px;
}
.properties-hero-section .properties .pagination-section .pagination .page-link {
  color: var(--Text-3, #192e3d);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
}
.properties-hero-section .properties .pagination-section .page-item.active a {
  background: var(--Active, #172a38);
  color: var(--BG-1, #fafafa);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
  border: var(--bs-pagination-border-width) solid var(--Active, #172a38);
}

.property-details-hero {
  padding: 80px 0px;
}
.property-details-hero .all-details .property-name {
  color: var(--Text-3, #192e3d);
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 31.25px */
  margin-top: 40px;
}
.property-details-hero .all-details .property-description,
.property-details-hero .all-details .property-details {
  margin-top: 20px;
}
.property-details-hero .all-details .property-description .title,
.property-details-hero .all-details .property-details .title {
  color: var(--Text-3, #192e3d);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 25px */
  border-bottom: 1px solid var(--Text-3, #192e3d);
  padding-bottom: 6px;
  width: 30%;
}
.property-details-hero .all-details .property-description .texts,
.property-details-hero .all-details .property-details .texts {
  margin-top: 20px;
  color: var(--Text-1, #4e4e4e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
}
.property-details-hero .all-details .property-description .texts .title,
.property-details-hero .all-details .property-description .texts .data,
.property-details-hero .all-details .property-details .texts .title,
.property-details-hero .all-details .property-details .texts .data {
  color: var(--Text-1, #4e4e4e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
  border-bottom: none;
}
.property-details-hero .all-details .inquery-form {
  margin-top: 24px;
  border-radius: 4px;
  border: 0.23px solid #d3d3d3;
  background: var(--BG-1, #fafafa);
  padding: 12px;
}
.property-details-hero .all-details .inquery-form label {
  color: var(--Text-1, #4e4e4e);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 25px */
  margin-bottom: 12px;
}
.property-details-hero .all-details .inquery-form input,
.property-details-hero .all-details .inquery-form textarea {
  border: none;
  border-radius: 4px;
  background: var(--BG-2, #e8eaec);
}
.property-details-hero .all-details .inquery-form .submit-inquery {
  border: none;
  color: var(--BG-2, #e8eaec);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */
  border-radius: 4px;
  background: var(--Active, #172a38);
  padding: 10px 24px;
}
.property-details-hero .similar-properties .title {
  color: var(--Text-3, #192e3d);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 25px */
}
.property-details-hero .similar-properties .item {
  margin-top: 20px;
}
.property-details-hero .similar-properties .item .property-card .card-body .card-text {
  color: var(--Text-3, #192e3d);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 25px */
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.property-details-hero .similar-properties .item .property-card .card-body .card-title {
  color: var(--Text-1, #4e4e4e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
  display: -webkit-box; /* Necessary for line clamping */
  -webkit-line-clamp: 2; /* Number of lines to display before truncating */
  -webkit-box-orient: vertical; /* Necessary for line clamping */
  overflow: hidden; /* Hide the rest of the text */
}
.property-details-hero .similar-properties .item .property-card .card-body .location {
  color: var(--Text-1, #4e4e4e);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 16.25px */
  display: -webkit-box; /* Necessary for line clamping */
  -webkit-line-clamp: 2; /* Number of lines to display before truncating */
  -webkit-box-orient: vertical; /* Necessary for line clamping */
  overflow: hidden; /* Hide the rest of the text */
}

.images-gallery {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 565px;
  overflow: hidden;
}

.large-image {
  flex: 1;
  max-width: 85%;
  height: 100%;
}

.large-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
  width: 15%;
  max-height: 565px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 20px;
}

.thumbnail {
  width: 100%;
  height: 125px;
  cursor: pointer;
}

.active-thumbnail {
  border: 2px solid var(--Active, #172a38);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 2em;
  color: #fff;
  cursor: pointer;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.login-hero {
  padding: 80px 0px;
}
.login-hero .title {
  margin-bottom: 20px;
}
.login-hero .title .login-text {
  color: var(--Text-3, #192e3d);
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 31.25px */
}
.login-hero .title .register-text {
  color: var(--Text-3, #192e3d);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  text-decoration: underline;
}
.login-hero .title .register-text:hover {
  text-decoration: underline;
}
.login-hero label {
  color: var(--Text-1, #4e4e4e);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 25px */
}
.login-hero .form-check label {
  color: var(--Text-1, #4e4e4e);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */
}
.login-hero input[type=text],
.login-hero input[type=password],
.login-hero input[type=email] {
  border: none;
  padding: 10px;
  border-radius: 4px;
  background: var(--BG-2, #e8eaec);
}
.login-hero .login-btn {
  border: none;
  background: var(--Active, #172a38);
  padding: 10px 24px;
  border-radius: 4px;
  color: var(--Text-2, #f6f6f6);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */
}
.login-hero .agreement-text {
  color: var(--Text-1, #4e4e4e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
  margin-top: 20px;
}
.login-hero .agreement-text a {
  color: var(--Text-3, #192e3d);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}/*# sourceMappingURL=style.css.map */