* {
  box-sizing: border-box;
}

#post-add {
  overflow: hidden;
  overflow-y: scroll;
  height: calc(100vh - 60px);
}

.richText .richText-editor ul, .richText .richText-editor ol {
  margin-bottom: 0px !important;
}

.thumb-sm {
  max-width: 64px;
  max-height: 64px;
}

.richText-btn {
  color: #14aec8;
}

.w-50 {
  width: 100% !important;
}

.img-rotate {
  transform: rotate(90deg);
}

.cms-side-active {
  color: #0751ab !important;
}

.btn.btn-outline-primary {
  border-radius: 0 !important;
  border: 1px solid #333 !important;
  color: #333;
}

.btn.btn-outline-primary:hover {
  background-color: #000 !important;
  color: white;
}

#login .login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login .login-wrapper .login-block {
  width: 500px;
}
#login .login-wrapper .login-block .login-img-block {
  display: flex;
  justify-content: center;
}
#login .login-wrapper .login-block .login-img-block .login-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
#login .login-wrapper .login-block .login-img-block .login-image img {
  width: 100%;
  height: 100%;
}
#login .login-wrapper .login-block .login-form {
  margin-top: 24px;
  border: 1px solid #c3c4c7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
  padding: 24px;
  border-radius: 8px;
}
#login .login-wrapper .login-block .login-form h3 {
  color: rgba(128, 128, 128, 0.7019607843);
}
#login .login-wrapper .login-block .login-form .button-block {
  display: flex;
  justify-content: space-between;
}
#login .login-wrapper .login-block .login-form .button-block .btn.btn-dark {
  padding: 4px 30px;
}
#login .login-wrapper .login-block .login-form .button-block .btn-back {
  display: flex;
  align-items: center;
  gap: 8px;
}
#login .login-wrapper .login-block .login-form .button-block .btn-back a {
  color: #333333;
  -webkit-text-decoration: transparent;
          text-decoration: transparent;
  border-bottom: 1px solid transparent;
}
#login .login-wrapper .login-block .login-form .button-block .btn-back a:hover {
  border-bottom: 1px solid #333333;
}

#main-section .user-list .user-list-wrapper {
  padding: 12px;
}
#main-section .user-list .user-list-wrapper .head {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 30px;
  font-weight: 600;
}

.top-nav-new, .main-section {
  padding-left: 0px !important;
}

.hide {
  left: -250px !important;
}

.sidenav {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  width: 250px;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  transition: 0.5s;
  transition: all 0.5s ease-in-out;
}
.sidenav ::-webkit-scrollbar {
  width: 8px;
}
.sidenav ::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}
.sidenav ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}
.sidenav ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.sidenav .sidenav-wrapper .sidenav-item {
  overflow-y: auto;
  height: calc(100vh - 50px);
}
.sidenav .sidenav-wrapper .sidenav-item .toRotate {
  padding-left: 0px !important;
}
.sidenav .sidenav-wrapper .sidenav-item .list-unstyled a {
  font-size: 16px;
  padding: 5px 0px;
}
.sidenav .logo {
  font-size: 32px;
  padding: 4px 12px;
  color: #ffffff;
  background-color: #ffffff;
  border: 1px solid #818181;
  cursor: pointer;
}
.sidenav .logo img {
  width: 100%;
  height: 100%;
}
.sidenav a {
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}

#hamburger {
  transition: margin-left 0.5s;
  font-size: 25px;
  cursor: pointer;
}

#top-nav {
  padding-left: 250px;
  transition: all 0.5s ease-in-out;
}

.side-dropdown:hover .side-dropdown-menu {
  display: inline-table;
}

.side-dropdown {
  position: relative;
  margin-bottom: 8px;
  cursor: pointer;
}
.side-dropdown .dropdown-link:hover {
  background-color: rgba(128, 128, 128, 0.7019607843);
}
.side-dropdown .dropdown-link {
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 16px;
  color: #ffffff;
  gap: 8px;
  transition: all 0.3s ease-in-out;
}
.side-dropdown .dropdown-link a {
  color: #ffffff;
  font-size: 16px;
}
.side-dropdown .dropdown-link i {
  font-size: 16px;
}
.side-dropdown .side-dropdown-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  position: absolute;
  top: 0;
  left: 250px;
  color: #333333;
  background-color: #333333;
  width: 100%;
  height: 100%;
  transition: all 400ms ease-out;
  text-align: start;
  cursor: pointer;
  padding: 8px;
}
.side-dropdown .side-dropdown-menu a {
  padding: 8px;
  color: #ffffff;
  border-left: 3px solid transparent;
}
.side-dropdown .side-dropdown-menu a:hover {
  border-left: 3px solid rgba(128, 128, 128, 0.7019607843);
  color: rgba(128, 128, 128, 0.7019607843);
}

#main-section {
  padding-left: 250px;
  transition: all 0.5s ease-in-out;
}

.table-list .table-list-wrapper .table.border.table-striped .list-name {
  display: flex;
  align-items: start;
  gap: 20px;
}
.table-list .table-list-wrapper .table.border.table-striped td a {
  text-transform: capitalize;
  color: #333;
  -webkit-text-decoration: transparent;
          text-decoration: transparent;
}
.table-list .table-list-wrapper .table.border.table-striped td a:hover {
  -webkit-text-decoration: 1px solid #333 underline;
          text-decoration: 1px solid #333 underline;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}/*# sourceMappingURL=style.css.map */