*{
    box-sizing: border-box;
}
// global color
$black-color: #333333;
$white-color: #ffffff;
$text-fade: #808080b3;
#post-add {
    overflow: hidden;
    overflow-y: scroll;
    height: calc(100vh - 60px);
}
// global color ends

.richText{
    .richText-editor{
        ul, ol{
            margin-bottom: 0px !important;
        }
    }
}
.thumb-sm{
    max-width: 64px;
    max-height: 64px;
}
.richText-btn{
    color: #14aec8;
}
.w-50{
    width: 100% !important;
}
.img-rotate{
    transform: rotate(90deg);
}
.cms-side-active{
    color: #0751ab !important;
}

    .btn.btn-outline-primary{
      border-radius: 0 !important;
      border: 1px solid #333 !important;
      color: #333;
    }
    .btn.btn-outline-primary:hover{
        background-color: #000 !important;
        color: white;
    }
// login page css code
#login{
    .login-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .login-block{
            width: 500px;
            .login-img-block{
                display: flex;
                justify-content: center;
                .login-image{
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .login-form{
                margin-top: 24px;
                border: 1px solid #c3c4c7;
                box-shadow: 0 1px 3px rgba(0,0,0,.04);
                padding: 24px;
                border-radius: 8px;
                h3{
                    color: $text-fade;
                }
                .button-block{
                    display: flex;
                    justify-content: space-between;
                    .btn.btn-dark{
                        padding: 4px 30px;
                    }
                    .btn-back{
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        a{
                            color: $black-color;
                            text-decoration: transparent;
                            border-bottom: 1px solid transparent;
                        }
                        a:hover{
                            border-bottom: 1px solid $black-color;
                        }
                    }
                }
            }
            
        }
    }
}
// login page css code ends

#main-section{
    .user-list{
        .user-list-wrapper{
            padding: 12px;
            .head{
                display: flex;
                align-items: center;
                gap: 20px;
                font-size: 30px;
                font-weight: 600;
            }
        }
    }
}


// dashboard(side nav code)
.top-nav-new, .main-section{
    padding-left: 0px !important;
}
.hide{
    
    left: -250px!important;    

}
.sidenav {
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
    // new side nav code
    .sidenav-wrapper{
        .sidenav-item{
            overflow-y: auto;
             height: calc(100vh - 50px);
            .toRotate{
                padding-left: 0px !important;
            }
            .list-unstyled{
                a{
                    font-size: 16px;
                    padding: 5px 0px;
                }
            }
        }
    }
    // new side nav code ends
    // height: 100%;
    width: 250px;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 0.5s;
    transition: all 0.5s ease-in-out;  
    // .sidenav-item{
    //     height: calc(100vh - 125px);
    //     overflow-y: auto;
    // }
    .logo{
        font-size: 32px;
        padding: 4px 12px;
        color: $white-color;
        // height: 57px;
        background-color: #ffffff;
        border: 1px solid #818181;
        cursor: pointer;
       
        img{
            width: 100%;
            height: 100%;
        }
    }
     a {
    
        text-decoration: none;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      a:hover {
        color: #f1f1f1;
      }
  }
  
  
  
  
  
//   .sidenav .closebtn {
//     position: absolute;
//     top: 0;
//     right: 25px;
//     margin-left: 50px;
//   }
  
  #hamburger {
    transition: margin-left .5s;
    font-size: 25px;
    cursor: pointer;
  }

  #top-nav{
    padding-left: 250px;
    transition: all 0.5s ease-in-out;
  }

  .side-dropdown:hover .side-dropdown-menu{
    // display: block;
    display: inline-table;
}
  .side-dropdown{
    position: relative;
    margin-bottom: 8px;
    cursor: pointer;
    .dropdown-link:hover{
        background-color: $text-fade;
    }
    .dropdown-link{
        display: flex;
        align-items: center;
        padding: 8px 8px 8px 16px;
        color: $white-color;
        gap: 8px;
        transition: all 0.3s ease-in-out;
        a{
            color: $white-color;
            font-size: 16px;
        }
        
        i{
            font-size: 16px;
        }
    }
    .side-dropdown-menu{
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        position: absolute;
        top: 0;
        left: 250px;
        color: $black-color;
        background-color: $black-color;
        width: 100%;
        height: 100%;
        -webkit-transition: all 400ms ease-out;
        -moz-transition: all 400ms ease-out;
        -o-transition: all 400ms ease-out;
        -ms-transition: all 400ms ease-out;
        transition: all 400ms ease-out;
        text-align: start;
        cursor: pointer;
        padding: 8px;
        a{
            padding: 8px;
            color: $white-color;
            border-left: 3px solid transparent;
        }
        a:hover{
            border-left: 3px solid $text-fade;
            color: $text-fade;
        }
    }
    
}

#main-section{
    padding-left: 250px;
    transition: all 0.5s ease-in-out;
}  
  .table-list{
    .table-list-wrapper{
        .table.border.table-striped{
            .list-name{
                display: flex;
                align-items: start;
                gap: 20px;
            }
            td{
                a{
                    text-transform: capitalize;
                    color: #333;
                    text-decoration: transparent;
                }
                a:hover{
                    text-decoration: 1px solid #333 underline;
                }
            }
        }
    }
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }





  