@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Albert Sans", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dark-icon {
  color: #000000 !important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.stroke-text {
  -webkit-text-stroke: 1px rgba(21, 72, 153, 0.1490196078);
  width: 100% !important;
  color: #fff;
  font-size: 96px;
  font-style: normal;
  font-weight: 600;
  line-height: 144px; /* 150% */
  text-align: center;
}

.blogs nav .pagination a:hover {
  text-decoration: underline;
  font-size: 25px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: -moz-max-content;
  height: max-content;
  transition: all 0.5s;
  position: sticky;
  top: 0;
  z-index: 9;
  background: var(--BG-2, #e8eaec);
}

#header .logo {
  margin: 0;
  padding: 20px 0;
}
#header .logo img {
  height: 53px;
  width: 120px;
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/**
  * Desktop Navigation 
  */
.navbar {
  padding: 0;
}
.navbar .login-button {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--Active, #172a38);
  color: var(--Text-2, #f6f6f6);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 991px) {
  .navbar .login-button {
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  margin-left: 24px;
  white-space: nowrap;
  transition: 0.3s;
  color: var(--Text-3, #192e3d);
  /* Medium/Paragraph Medium */
  font-family: Albert Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */
}

.navbar a i,
.navbar a:focus i {
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: var(--Text-3, #192e3d);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  background: #31a9e1;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: var(--Text-3, #192e3d);
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: var(--Text-3, #192e3d);
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}
/**
  * Mobile Navigation 
  */
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(40, 58, 90, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: var(--Text-3, #192e3d);
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: var(--Text-3, #192e3d);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
  color: var(--Text-3, #192e3d);
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: var(--Text-3, #192e3d);
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
  visibility: visible !important;
}

/*----navbar end----*/
.footer {
  padding: 80px 0;
}
.footer .footer-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.footer .footer-head .footer-logo {
  display: block;
  height: 135px;
  width: 306px;
}
.footer .footer-head .footer-media-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer .footer-head .footer-media-icons a {
  background: var(--Active, #172a38);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  padding: 10px;
}
.footer .footer-body .title {
  color: var(--Text-1, #4e4e4e);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 25px */
}
.footer .footer-body ul li a {
  color: var(--Text-1, #4e4e4e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
}
.footer .footer-body .recently-viewed-product-card {
  display: flex;
  gap: 24px;
}
.footer .footer-body .recently-viewed-product-card .product-img {
  height: 95px;
  width: 105px;
}
.footer .footer-body .recently-viewed-product-card .product-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .footer-body .recently-viewed-product-card .product-details {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.footer .footer-body .recently-viewed-product-card .product-details .product-name {
  margin: 0;
  color: var(--Text-1, #4e4e4e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
}
.footer .footer-body .recently-viewed-product-card .product-details .product-price {
  margin: 0;
  color: var(--Text-3, #192e3d);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 25px */
}
.footer .footer-body .recently-viewed-product-card .product-details .product-location {
  margin: 0;
  color: var(--Text-1, #4e4e4e);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 16.25px */
}
.footer .footer-body .icon-box {
  height: 18px;
  width: 18px;
  margin-left: 12px;
}

.property-card {
  padding: 0px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: var(--BG-1, #fff);
}
.property-card .card-img-top {
  height: 260px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.property-card .card-img-top img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.property-card .card-img-top .property-type {
  position: absolute;
  top: 10px;
  left: 10px;
  background: var(--Active, #172a38);
  padding: 6px 24px;
  border-radius: 4px;
  color: var(--Text-2, #f6f6f6);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */
}
.property-card .property-id {
  color: var(--Text-1, #4e4e4e);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 12.5px */
}
.property-card .location {
  margin-bottom: 8px;
}
.property-card .location .icon-box {
  height: 18px;
  width: 18px;
  padding: 0px;
  margin-right: 5px;
}
.property-card .location .icon-box img {
  vertical-align: top;
}
.property-card .location a {
  margin: 0;
  color: var(--Text-1, #4e4e4e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */
}
.property-card .card-body {
  margin-bottom: 10px;
}
.property-card .card-body .card-title {
  padding-top: 6px;
  color: var(--Text-3, #192e3d);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 25px */
}
.property-card .card-body .card-text {
  color: var(--Text-3, #192e3d);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 25px */
  padding-bottom: 20px;
}
.property-card .view-details-btn {
  border-radius: 4px;
  border: 1px solid var(--Active, #172a38);
  padding: 10px 24px;
  color: var(--Text-3, #192e3d);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */
  margin-top: 20px;
}/*# sourceMappingURL=style.css.map */